page-operation-history {
    .address-title {
        font-size: 26px;
        text-align: center;
        padding: 20px;
        color: #666;
    }

    .right-content {
        text-align: right;
        .state {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            margin-top: 5px;
            &.add {
                color: #333;
            }

            &.delete {
                color: red;
            }

            &.block {
                color: #999;
            }
        }
    }
    .custom-card {
        position: relative;
        .line {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            display: block;
            width: 4px;
            height: 100%;
            // background: red;
        }

        .line-10 {
            background: brown;
        }

        .line-20 {
            background: blueviolet;
        }

        .line-30 {
            background: cadetblue;
        }

        .line-40 {
            background: orange;
        }

        .line-50 {
            background: fuchsia;
        }
        .custom-badge {
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            // font-weight: normal;
            padding: 5px;
        }
    }

    // .card-10 {
    //     &::before {
    //         background: red;
    //     }
        
    // }

    // .card-20 {
    //     &::before {
    //         background: red;
    //     }
    // }

    // .card-30 {
    //     &::before {
    //         background: red;
    //     }
    // }

    // .card-40 {
    //     &::before {
    //         background: red;
    //     }
    // }

    // .card-50 {
    //     &::before {
    //         background: red;
    //     }
    // }
}
