page-home {
    .scan-wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 280px;
        height: 280px;
        margin-left: -140px;
        margin-top: -120px;
        // margin: 0 auto;
        text-align: center;
        color: #999;
        p {
            font-size: 16px;
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
        }
        img {
            max-width: 120px;
        }
    }
    
}
