page-house-detail {
    .address-bg {
        background: -webkit-linear-gradient(#56b1f9, #439cf8); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient( #56b1f9, #439cf8); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#56b1f9, #439cf8); /* Firefox 3.6 - 15 */
        background: linear-gradient(#56b1f9, #439cf8); /* 标准的语法 */
        padding: 30px 15px;

        text-align: center;

        color: white;

        h2 {
            font-size: 18px;
            margin: 0;
            padding: 0;
            padding: 0 20px 20px;
        }

        p {
            font-size: 14px;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 20px;
        }
    }

    .info-box {
        margin-top: -40px;
    }

    .table {
        width: 100%;
        table-layout: fixed;
        font-size: 14px;
        color: #333;
        td {
            vertical-align: top;
        }
        .label {
            width: 23%;
            text-align: right;
            color: #666;
            padding-right: 10px;
        }

        .value {
            width: 25%;
        }
    }
}
