<!--
  Generated template for the AddressDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>详情</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome();">
        <ion-icon name="ios-home-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content style="background: rgb(247,247,247);">
  <div class="house-info">
    <!-- <img [src]="house.image"> -->
    <div class="house-image" [ngStyle]="{'background-image': 'url(' + house.image + ')'}"></div>
    <h2 class="address">
      <ion-icon name="ios-pin-outline"></ion-icon>{{house.address}}
    </h2>
    <div class="other-info box">
      <ion-item class="head-item">基本信息
        <button ion-button item-right (click)="editHouse();">编辑</button>
      </ion-item>
      <table class="table">
        <tr>
          <td class="label">房屋用途</td>
          <td class="value">{{house.house_use && house.house_use.join(",")}}</td>
          <td class="label">房屋类型</td>
          <td class="value">{{house.type}}</td>
        </tr>
        <tr>

          <td class="label">结构类型</td>
          <td class="value">{{house.jg_type}}</td>
          <td class="label">小区名称</td>
          <td class="value">{{house.plot_name}}</td>
        </tr>
        <tr>

          <td class="label">面积</td>
          <td class="value">{{house.area || "--"}} 平方米(㎡)</td>
          <td class="label">房间数(个)</td>
          <td class="value">{{house.rooms_count || "--"}}</td>
        </tr>
        <tr>

          <td class="label">管理等级</td>
          <td class="value">{{house.mgr_level}}</td>
          <td class="label">使用类型</td>
          <td class="value">{{house.use_type}}</td>
        </tr>
        <tr>

          <td class="label">租用类型</td>
          <td class="value">{{house.rent_type}}</td>
          <td class="label">房屋备注</td>
          <td class="value">{{house.memo}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="box">
    <ion-item class="head-item">产权人信息
      <button ion-button item-right (click)="addProperty();">新增</button>
    </ion-item>
    <div class="list-box">
      <ion-list></ion-list>
      <div class="empty-box" *ngIf="properties.length === 0">
        暂无产权人信息
      </div>
    </div>
  </div>

  <div class="box">
    <ion-item class="head-item">日常检查
      <button ion-button item-right (click)="addDailyCheck();">新增</button>
    </ion-item>
    <div class="list-box">
      <ion-list></ion-list>
      <div class="empty-box" *ngIf="properties.length === 0">
        暂无日常检查
      </div>
    </div>
  </div>

  <div class="box" *ngIf="houseUse !== 3">
    <ion-item class="head-item">居住人口
      <button ion-button item-right (click)="addPerson();">新增</button>
    </ion-item>
    <div class="list-box">
      <ion-list></ion-list>
      <div class="empty-box" *ngIf="properties.length === 0">
        暂无居住人口
      </div>
    </div>
  </div>

  <div class="box" *ngIf="houseUse === 2">
    <ion-item class="head-item">实有单位<button ion-button item-right (click)="addCompany();">新增</button></ion-item>
    <div class="list-box">
      <ion-list></ion-list>
      <div class="empty-box" *ngIf="properties.length === 0">
        暂无实有单位
      </div>
    </div>
  </div>

  <div class="box">
    <ion-item class="head-item">操作日志</ion-item>
    <div class="list-box">
      <ion-list></ion-list>
      <div class="empty-box" *ngIf="properties.length === 0">
        暂无操作日志
      </div>
    </div>
  </div>

  <!-- <div class="actions-wrap">
    <ion-toolbar color="white">
      <ion-segment [(ngModel)]="oper_type" mode="md" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="{{u.ID}}" *ngFor="let u of oper_types">
          {{u.name}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div class="content">
      <ion-list>
        <ion-item *ngFor="let item of data"></ion-item>
      </ion-list>
    </div>
  </div> -->
  <!-- <div class="address-bg">
    <h2 text-wrap>{{house.address}}</h2>
  </div>
  <div class="info-box">
    <ion-card>
      <ion-item>
        房屋信息
        <button ion-button item-right (click)="editHouse();">编辑</button>
      </ion-item>
      <ion-card-content>
        <table class="table">
          <tr>
            <td class="label">房屋用途</td>
            <td class="value">{{house.house_use && house.house_use.join(",")}}</td>
            <td class="label">房屋类型</td>
            <td class="value">{{house.type}}</td>
          </tr>
          <tr>

            <td class="label">结构类型</td>
            <td class="value">{{house.jg_type}}</td>
            <td class="label">小区名称</td>
            <td class="value">{{house.plot_name}}</td>
          </tr>
          <tr>

            <td class="label">面积</td>
            <td class="value">{{house.area || "--"}} 平方米(㎡)</td>
            <td class="label">房间数(个)</td>
            <td class="value">{{house.rooms_count || "--"}}</td>
          </tr>
          <tr>

            <td class="label">管理等级</td>
            <td class="value">{{house.mgr_level}}</td>
            <td class="label">使用类型</td>
            <td class="value">{{house.use_type}}</td>
          </tr>
          <tr>

            <td class="label">租用类型</td>
            <td class="value">{{house.rent_type}}</td>
            <td class="label"></td>
            <td class="value"></td>
          </tr>
        </table>
      </ion-card-content>

    </ion-card>
    <ion-card>
      <ion-item>
        日常检查
        <button ion-button item-right (click)="addDailyCheck();">新增</button>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let check of checks" class="custom-item">
          <h2 text-wrap>{{check.memo}}</h2>
          <p>检查日期: {{check.check_date}}</p>
          <button ion-button item-right (click)="removeCheck(check);" color="danger" *ngIf="check._state == 1">注销</button>
          <ion-note item-right *ngIf="check._state == 0">已注销</ion-note>
        </ion-item>
      </ion-list>
      <div *ngIf="checks.length === 0" style="text-align: center;padding: 20px;color: #999;">
        暂无日常检查数据
      </div>
    </ion-card> -->
  <!-- <ion-card *ngIf="room.usetypeid !== '2'">
      <ion-item>
        {{room.usetypeid === "1" ? "实有人口" : "居住人员"}}
        <button ion-button item-right (click)="addPeople();">新增</button>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let man of people1" class="custom-item">
          <h2>{{man.name}}</h2>
          <p>证件号码: {{man.card_no}}</p>
          <ion-note item-right *ngIf="man._state == 0">已注销</ion-note>
          <button ion-button item-right (click)="removePeople1(man);" color="danger" *ngIf="man._state == 1">注销</button>
        </ion-item>
      </ion-list>
      <div *ngIf="people.length === 0" style="text-align: center;padding: 20px;color: #999;">
        暂无{{room.usetypeid === "1" ? "实有人口" : "居住人员"}}
      </div>
    </ion-card> -->
  <!-- <ion-card *ngIf="room.usetypeid !== '1'">
      <ion-item>
        从业人员
        <button ion-button item-right (click)="addPeople2();">新增</button>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let man of people2" class="custom-item">
          <h2>{{man.name}}</h2>
          <p>证件号码: {{man.card_no}}</p>
          <ion-note item-right *ngIf="man._state == 0">已注销</ion-note>
          <button ion-button item-right (click)="removePeople2(man);" color="danger" *ngIf="man._state == 1">注销</button>
        </ion-item>

      </ion-list>
      <div *ngIf="employees.length === 0" style="text-align: center;padding: 20px;color: #999;">
        暂无从业人员
      </div>
    </ion-card> -->
  <!-- <ion-card>
    <ion-item>
      房屋备注信息
    </ion-item>
    <div style="text-align: center;padding: 20px;color:#999;">
      暂无备注信息
    </div>
  </ion-card>
  <ion-card>
    <ion-item>
      操作日志
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let log of logs" class="custom-item">
        <h2>{{log.name}}</h2>
        <p>时间: {{formatDate(log.time)}}</p>
      </ion-item>
    </ion-list>
    <div *ngIf="logs.length === 0" style="text-align: center;padding: 20px;color: #999;">
      暂无操作日志
    </div>
  </ion-card>
  </div> -->
</ion-content>